.options_container {
    display: flex;
    justify-content: center;
    .options {
        overflow: auto;
        display: flex;
    }
    .content {
        backdrop-filter: blur(10px);
        height: 500px;
        background-color: black;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
}