@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    list-style: none;
    text-decoration: none;
    font-family: "roboto", sans-serif;
    font-size: 15px;
}

.common {
    --sign-up-btn-text-color: white;
    --primary: #e50914;
    --primary-hover: #a80109;
    position: relative;
    background-color: black;
     ::selection {
        background-color: red;
        color: white;
    }
}

.dark_container {
    overflow: hidden;
    min-height: 100vh;
    --bgcolor: #1b1b1b;
    --nav-menu-color: rgb(19, 0.19, 0.19);
    --color: white;
    --hover: rgb(68, 68, 68);
    --navbar-bg: #1b1b1b;
    --collapse: rgb(27, 27, 27);
    --section-bg: black;
    --box-shadow-border: 0px 0px 2px rgb(255, 255, 255);
    --scroll-bar-color: black;
}

.light_container {
    overflow: hidden;
    min-height: 100vh;
    --bgcolor: rgb(233, 233, 233);
    --nav-menu-color: rgb(235, 235, 235);
    --color: rgb(31, 31, 31);
    --hover: rgb(197, 197, 197);
    --navbar-bg: #ffffff;
    --collapse: rgb(165, 165, 165);
    --section-bg: rgb(233, 233, 233);
    --box-shadow-border: 0px 0px 2px rgb(0, 0, 0);
    --scroll-bar-color: rgb(240, 240, 240);
}