.card {
    overflow: hidden;
    border-radius: 5px;
    border: none;
    box-shadow: var(--box-shadow-border);
    min-width: 230px;
    height: 350px;
    img {
        width: 100%;
        height: 70%;
    }
    .content {
        width: 200px;
        height: 100%;
        padding: 20px;
        display: flex;
        flex-direction: column;
        justify-content: start;
        h5 {
            font-size: 10px;
        }
        h3 {
            margin: 5px 0px;
            font-size: 15px;
        }
    }
}